h1 {
  color:rgb(51, 6, 37);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
img {
  display: block;
  max-width:100%;
  padding:10px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
